body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
}

header {
    color: #000000;
}

nav {
    color: #69696a;
}

h1 {
    color: #000000;
}

p {
    color: #69696a;
    border-left: 2px solid #69696a;
}

button {
    background-color: #000000;
    color: #ffffff;
}